@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply text-gray-600 dark:text-dark-text bg-white dark:bg-dark-bg transition-colors duration-300;
  }
  h1, h2, h3, h4 {
    @apply font-bold text-gray-900 dark:text-dark-heading;
  }
}